@model string

@{
    Layout = "_Layout";
}

<div style="background-color: aquamarine; margin: 30px; padding: 30px">
    <h1>Xin chao</h1>
    <p>
        Chúng ta là 1 gia đình
    </p>
    <p>@Model</p>
</div>
<hr>
@this.Path